name: Push CI

on: [push]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          check-latest: true

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Checks
        run: yarn run checks

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          check-latest: true

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Build
        run: yarn run build

      - name: Check nothing was forgotten before commit
        run: yarn run repository-check-dirty

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          check-latest: true

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Prettier
        run: yarn run lint:prettier

      - name: Typescript
        run: yarn run tsc

      - name: Eslint
        run: yarn run lint:eslint

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22]

    steps:
      - uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Test
        run: yarn run test
